.map-container {
    width: 100%;
    height: 100vh;
}

.search {
    position: absolute;
    top: 10rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 400px;
    z-index: 10;
}